<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string></string>
	<key>topics</key>
	<array>
		<dict>
			<key>value</key>
			<integer>19</integer>
			<key>name</key>
			<string>Dead Animals</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>18</integer>
			<key>name</key>
			<string>Flooding</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>name</key>
			<string>General Information</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>13</integer>
			<key>name</key>
			<string>Graffiti</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>33</integer>
			<key>name</key>
			<string>Leaf Removal</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>38</integer>
			<key>name</key>
			<string>Mowing</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>41</integer>
			<key>name</key>
			<string>Request Sign</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>35</integer>
			<key>name</key>
			<string>Sidewalk Repair</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>36</integer>
			<key>name</key>
			<string>Snow Removal</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>37</integer>
			<key>name</key>
			<string>Snow Removal / Plow and Salt</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>21</integer>
			<key>name</key>
			<string>Streets - Catch Basins </string>
		</dict>
		<dict>
			<key>value</key>
			<integer>8</integer>
			<key>name</key>
			<string>Streets - Damaged Sign</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>9</integer>
			<key>name</key>
			<string>Streets - Damaged Stop Sign</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>29</integer>
			<key>name</key>
			<string>Streets - Other</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>name</key>
			<string>Streets - Potholes</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>39</integer>
			<key>name</key>
			<string>Streets - Sweeping (Day)</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>name</key>
			<string>Streets - Traffic Signal</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>42</integer>
			<key>name</key>
			<string>TEST ONLY</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>16</integer>
			<key>name</key>
			<string>Trash disposal</string>
		</dict>
		<dict>
			<key>value</key>
			<integer>17</integer>
			<key>name</key>
			<string>Trash disposal / Heavy items</string>
		</dict>
	</array>
	<key>email</key>
	<string></string>
	<key>name</key>
	<string></string>
	<key>address</key>
	<string></string>
	<key>phone</key>
	<string></string>
	<key>issues</key>
	<array>
		<dict>
			<key>issueid</key>
			<integer>0</integer>
			<key>topicid</key>
			<integer>0</integer>
			<key>topic</key>
			<string></string>
			<key>summary</key>
			<string></string>
			<key>details</key>
			<string></string>
			<key>location</key>
			<string></string>
			<key>lat</key>
			<integer>0</integer>
			<key>lon</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
